Project1/Report/EE568 Project1 Report.aux
Project1/Report/EE568 Project1 Report.fdb_latexmk
Project1/Report/EE568 Project1 Report.fls
Project1/Report/EE568 Project1 Report.log
Project1/Report/EE568 Project1 Report.out
Project1/Report/EE568 Project1 Report.synctex.gz
Project1/Report/EE568 Project1 Report.toc
Project1/Project1_Torque_on_a_variable_reluctance_machine.aedtresults
Project2/Project2.aedtresults
Project2/Report/EE568 Project2 Report.aux
Project2/Report/EE568 Project2 Report.fdb_latexmk
Project2/Report/EE568 Project2 Report.fls
Project2/Report/EE568 Project2 Report.log
Project2/Report/EE568 Project2 Report.out
Project2/Report/EE568 Project2 Report.synctex.gz
Project2/Report/EE568 Project2 Report.toc
*.aux
